@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
}
header a {
  color: rgb(55 65 81);
  transition: color 0.45s ease-in-out;
  font-weight: 500;
}

header a:hover {
  color: var(--accent-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* Light background for contrast */
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
  opacity: 0.8; /* Slightly transparent on hover for feedback */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) #f1f5f9; /* thumb color, track color */
}
